@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

#root {
  margin: 0;
  text-align: center;
  padding: 0;
  min-width: 100%;
  min-height: 100%;

}

.App {
  min-width: 100%;
  min-height: 100%;
  padding-left: 0;

}

.img-nav {
  height: 8rem;
  padding: 1rem;
}

.wallet-nav {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.wallet-nav-title {
  color: #fafafa;
  font-family: Staatliches;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.wallet-contain-button {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.contain-button-message {
  padding-top: 15px;
}

.contain-button-message {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.contain-body {
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.body-title {
  font-family: Staatliches;
  letter-spacing: 2px;
  color: #fafafa;
}


/* @media screen and (min-widht: 600px) {
  .App {
      padding-left: 0;
  }
} */