body {

  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100%;
  background-image: url('../src/assets/blockk.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
