@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.containCard {
    margin-bottom: 2rem;
    display: grid;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;

}

.card {
    border: 1px solid black;
    margin-bottom: .8rem;
    backdrop-filter: blur(8px);

}

.card-title {
    color: #fafafa;
    text-align: center;
    font-family: Roboto;
    /* font-size: 9rem; */
}

.card-subtitle{
    text-align: start;
    font-family: 'Roboto', sans-serif;
    
}