@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.containCard {
    margin-bottom: 2rem;
    display: grid;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;

}

.card {
    border: 2px solid black;
    margin-bottom: .8rem;

}

.card-title {
    text-align: center;
    font-family: Roboto;
    font-size: 8rem;
}

.card-subtitle{
    text-align: start;
    font-family: 'Roboto', sans-serif;

}